

#tier-1-description {
  margin-left: auto;
  margin-right: auto;
  color: #FFF;
text-align: center;
font-family: Montserrat;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: normal;

  & #ecology-description {
    width: 489px;
  height: 187px;
  flex-shrink: 0;
  }
  & #equity-description {
  width: 483px;
  height: 159px;
  flex-shrink: 0;
  }
  & #economy-description {
    width: 603px;
    height: 159px;
    flex-shrink: 0;
  }

}
#tier-2-container {
  max-width: 753px;
  margin-left: auto;
  margin-right: auto;
}
#tier-3-container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	flex-shrink: 0;
  }

#dial-container.dial-container {
  position: relative;
  width: 1529.329px;
  height: 466.54px;
  flex-shrink: 0;
  filter: drop-shadow(0px 4px 28px rgba(0, 0, 0, 0.20));
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  &.ecology {
    
    #equity-description, #economy-description {
      display: none;
    }

  }
  &.equity {
    
    #ecology-description, #economy-description {
      display: none;
    }

  }
  &.economy {
    
    #equity-description, #ecology-description {
      display: none;
    }
  }
}

.dial-button-container {
  position: absolute; /* Absolute positioning for the button container */
  top: 50%; /* Align the container to the top of the dial-image */
  left: 50%; /* Align the container to the left of the dial-image */
  z-index: 1; /* Ensure the buttons are on top of the dial-image */
  transform: translate(-50%, -50%);
}

#tier-2-3-containers {
  &.ecology {
    #equity-container, #economy-container {
      display: none;
    }
  }
  &.equity {
    #ecology-container, #economy-container {
      display: none;
    }
  }
  &.economy {
    #equity-container, #ecology-container {
      display: none;
    }
  }
}



