#dial-container {
	background-color: #3C6682;
}

#tier-1-description {
  max-width: 489px;
  margin-left: auto;
  margin-right: auto;
}
#tier-2-container {
  max-width: 753px;
  margin-left: auto;
  margin-right: auto;
}
#tier-3-container {
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	flex-shrink: 0;
  }