

.light-reading-container {
    padding-top: 32px;
    
.grid-container .grid-x .right-row .reading-header{
    color: #414670;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
}
