

.light-reading-container {
    padding-top: 32px;
    
.grid-container .grid-x .right-row .reading-header{
    color: #414670;
    font-family: Montserrat;
    font-size: 32px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.book-image-container{
    width: 306px;
    height: 308px;
    flex-shrink: 0; 
}

.book-info-container{
    width: 610.531px;
    height: 162px;
    flex-shrink: 0;  
}

}
