.image-container {
    display: flex;
      justify-content: space-between; 
      flex-wrap: wrap; 
      margin-bottom: -50px;
      z-index: 5;
      position: relative;
  }
  
  .image-wrapper {
    position: relative;
    width: 100%;
    flex: 1;
      
  }
  
  .background-image, .overlay-image {
    width: 100%;
      height: auto;
    
  
  }
  
  
  .image-1 .overlay-image {
  
   
  background: #00B1E2;
  mix-blend-mode: screen;
  }
  
  .image-2 .overlay-image {
   
  background: #F15623;
  }
  
  .image-3 .overlay-image {
   
    
    background: #00B1E2;
    opacity: 0.7;
   
  }
  
  
  .overlay-image {
    z-index: 2; 
    opacity: 0.8;
  }
 